body {
    color:blue;
    background-color: black;
    display:center;
    margin: 10px;
    container:center;
    text-align: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}